In [1]:
import sys
import os
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), "../")))  # set vscode notebook path for module imports

from db.repo import ResultsRepository
from db.mongo import MongoWrapper
from pipeline.config import settings

import pandas as pd

In [2]:
mongo = MongoWrapper(settings.MONGO_URI_PROD, settings.MONGO_DB) #mongo client
repo = ResultsRepository(mongo_client=mongo, repo=settings.MONGO_COLLECTION) #mongo repo

In [ ]:
df = pd.DataFrame(list(repo.col.find({}, {'_id': False})))

In [5]:
df

,_id,time,region,hdd,source,data_type,valid_time
0,6989ec27f95562fe68ee4a2a,1990-01-01,US Sum,24.909163,era5_land,observation,NaT
1,6989ec27f95562fe68ee4a2b,1990-01-02,US Sum,27.400915,era5_land,observation,NaT
2,6989ec27f95562fe68ee4a2c,1990-01-03,US Sum,23.516171,era5_land,observation,NaT
3,6989ec27f95562fe68ee4a2d,1990-01-04,US Sum,21.049710,era5_land,observation,NaT
4,6989ec27f95562fe68ee4a2e,1990-01-05,US Sum,23.059405,era5_land,observation,NaT
...,...,...,...,...,...,...,...
145481,698ae08048449d32fa736573,2026-02-10,South Atlantic Gulf,8.951805,ecmwf,forecast,2026-02-20
145482,698ae08048449d32fa736574,2026-02-10,South Atlantic Gulf,3.934442,ecmwf,forecast,2026-02-21
145483,698ae08048449d32fa736575,2026-02-10,South Atlantic Gulf,8.566860,ecmwf,forecast,2026-02-22
145484,698ae08048449d32fa736576,2026-02-10,South Atlantic Gulf,10.360230,ecmwf,forecast,2026-02-23
145485,698ae08048449d32fa736577,2026-02-10,South Atlantic Gulf,8.662083,ecmwf,forecast,2026-02-24